<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-danger">
  <a class="navbar-brand" style="font-weight: 900" href="{{ .Site.BaseURL }}">HB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-md-auto">
      {{ range .Site.Params.menu }}       
        <li class="nav-item">
          <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>