<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}
<main role="main" class="flex-shrink-0">
    <div class="container mt-3">
        {{ range .Data.Pages.ByDate.Reverse }}
        <div class="row p-5">
            <div class="col-md-6">
                <img src="{{ .Params.thumbnail }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>{{ .Title }}</h2>
                <p>{{ .Date.Format "January 2, 2006" }}</p>
                <p>{{ .Summary | safeHTML }}</p>
                <p><a class="btn btn-secondary" href="{{ .Permalink }}" role="button">View details &raquo;</a></p>
            </div>
        </div>
        {{ end }}
        <hr>
    </div>
</main>
{{- partial "footer.html" . -}}
</body>
</html>
